.masscheck {
  height: 40px;
  display: flex;
  background-color: #2f3336;
  color: #ffff;
  border: 2px solid #ffff;
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.aiScore {
  height: 40px;
  display: flex;
  background-color: #2f3336;
  color: #ffff;
  border: 2px solid #ffff;
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.tweetStatus {
  max-width: 180px;
  background-color: #e1ac71;
  border: 2px solid #e1ac71;
  color: #ffff;
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
