@import './Color.scss';

@mixin form-input {
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  width: 22rem;
  height: 2.2rem;
  border-radius: 0.4rem;
  border-style: none;
  box-shadow: 0px 4px 37px -12px rgba(255, 222, 68, 0.17);
  padding: 1.3rem 1rem 1.3rem 1rem;
  margin-top: 0.8rem;
}
