.loader-container-page-layout {
  position: absolute;
  z-index: 100;
  background: rgba(202, 202, 202, 0.5);
  width: 100vw;
  height: 100vh;

  .loader-container > * {
    position: absolute;
    top: 50%;
    left: 25%;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: #55acee;
    border-radius: 50%;
    animation: loading 4s infinite;
    transform: scale(0.1);
    opacity: 0;
    z-index: 200;

    &:nth-child(1) {
      animation-delay: 0.5s;
    }
    &:nth-child(2) {
      animation-delay: 1s;
    }
    &:nth-child(3) {
      animation-delay: 1.5s;
    }
    &:nth-child(4) {
      animation-delay: 2s;
    }
  }

  @keyframes loading {
    50% {
      transform: scale(1.25);
      left: 50%;
      opacity: 1;
    }
    100% {
      transform: scale(0.1);
      left: 80%;
      opacity: 0;
    }
  }
}
