@import '../Util/Styles/BodyText.scss';

.tweet {
  @include body-text;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 0.2rem;
  text-align: left;
  width: 100%;
  max-width: 78vw;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  color: black;

  &__handle {
    &__name {
      font-size: 1rem;
      font-weight: 800;
    }

    &__tag {
      font-size: 1rem;
      font-style: italic;
    }
  }

  &__content {
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }

  &__detail {
    font-size: 0.8rem;

    &__authenticity-score {
      color: #78c71d;
    }

    &__submit-by,
    &__stage {
      color: #66757f;
    }
  }
}
