h3 {
  color: #665f77;
}

body {
  height: 260px;
  width: 180px;
  margin: 10px;
}

.login-area {
  display: flex;
  flex-direction: column;
}

.login-btn-auth {
  height: 33px;
  color: white;
  background-color: #6932e3;
  border: 2px solid;
  border-radius: 5px;
  padding: 0.2rem;
  margin-bottom: 5px;
}

.signup-btn-auth {
  color: #6932e3;
  background-color: #ffff;
  border: 1px solid #c9ddec41;
  border-radius: 5px;
  padding: 0.2rem;
}

#signup-link {
  text-decoration: none;
}

.login-btn-auth:hover {
  cursor: pointer;
}

.login-btn-auth a {
  text-decoration: none;
  color: white;
}

.signup {
  color: #4caf50;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.signup:hover {
  cursor: pointer;
}

.container {
  position: absolute;
  left: 20px;
}

.input-field {
  padding: 0.2rem;
  padding-left: 0.5rem;
}

.email {
  border: 2px solid #c9ddec41;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pwd {
  border: 2px solid #c9ddec41;
  border-radius: 5px;
  margin-bottom: 15px;
}

.proximaX-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.error-field {
  border: 1px solid red;
  color: red;
}

.error-field::placeholder {
  color: red;
}
