.signinpage {
  display: none;
}

h3 {
  color: #665f77;
}

body {
  height: 260px;
  width: 180px;
  margin: 10px;
}

.login-area {
  display: flex;
  flex-direction: column;
}

.login-btn-auth {
  height: 33px;
  color: white;
  background: linear-gradient(87.34deg, #6932e3 -13.57%, #a880ff 102.24%);
  border: 2px solid;
  border-radius: 5px;
  padding: 0.2rem;
  margin-bottom: 5px;
}

.signup-btn-auth {
  color: #6932e3;
  border: 1px solid #c9ddec41;
  border-radius: 5px;
  padding: 0.2rem;
  background: #ffffff;
  box-shadow: 0px 0px 12px -1px rgba(133, 124, 153, 0.25);
}

#signup-link {
  text-decoration: none;
}

.login-btn-auth:hover {
  cursor: pointer;
}

.login-btn-auth a {
  text-decoration: none;
  color: white;
}

.signup {
  color: #4caf50;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.signup:hover {
  cursor: pointer;
}

.container {
  position: absolute;
  left: 20px;
}

.input-field {
  padding: 0.2rem;
  padding-left: 0.5rem;
}

.email {
  border: 2px solid #c9ddec41;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pwd {
  border: 2px solid #c9ddec41;
  border-radius: 5px;
  margin-bottom: 15px;
}

.proximaX-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.error-field {
  border: 1px solid red;
  color: red;
}

.error-field::placeholder {
  color: red;
}

.loader-container-page-layout {
  position: absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
  height: 190px;
  width: 180px;
}

.loader-container-page-layout .loader-container > * {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: -0.75rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: #6932e3;
  border-radius: 50%;
  animation: loading 3s infinite;
  transform: scale(0.5);
  opacity: 0;
  z-index: 200;
}
.loader-container-page-layout .loader-container > *:nth-child(1) {
  animation-delay: 0.6s;
}
.loader-container-page-layout .loader-container > *:nth-child(2) {
  animation-delay: 1.2s;
}
.loader-container-page-layout .loader-container > *:nth-child(3) {
  animation-delay: 1.8s;
}
.loader-container-page-layout .loader-container > *:nth-child(4) {
  animation-delay: 2.4s;
}
@keyframes loading {
  45% {
    transform: scale(1.25);
    left: 45%;
    opacity: 0.8;
  }
  90% {
    transform: scale(0);
    left: 100%;
    opacity: 0;
  }
}

.not-twitter-page {
  display: block;
}

.not-twitter-page.hide-page {
  display: none;
}

.twitter-only {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #665f77;
}

.visit-twitter-btn {
  background: #8e58ff;
  box-shadow: 0px 0px 12px -1px rgba(133, 124, 153, 0.25);
  border-radius: 5px;
  border: 2px solid;
  color: white;
  height: 33px;
  width: 180px;
  margin: auto;
  display: block;
  margin-top: 6.8rem;
}

.visit-twitter-btn:hover {
  cursor: pointer;
}

.visit-twitter-btn a {
  text-decoration: none;
  color: white;
}
