@import '../../Util/Styles/Color.scss';
@import '../../Util/Styles/Button.scss';
@import '../../Util/Styles/BodyText.scss';

.verify-step-four {
  display: grid;
  grid-template-areas: 'left-side right-side';

  &__left {
    grid-area: left-side;
    width: 50vw;
    height: 70vh;
    margin-right: 1rem;

    &__button-group {
      display: flex;
      flex-direction: row;
      button {
        @include pdf-tab-button;
        width: 20%;
      }
      &__active {
        background-color: white;
        // color: $body-text-color;
      }
    }

    &__pdf-viewer {
      padding: 1rem;
      background-color: white;
      height: 100%;
      max-height: 100%;
      overflow: auto;
    }
  }

  &__right {
    grid-area: right-side;
    width: 20vw;
    height: 70vh;

    &__timer {
      text-align: center;
      font-size: 4rem;
      font-weight: bold;
      margin-top: 5vh;
      margin-bottom: 7vh;
      img {
        margin-right: 2rem;
      }
      p {
        font-size: 1rem;
        font-weight: normal;
        font-style: italic;
        color: $red-text-color;
      }
    }

    &__vote-buttons {
      display: flex;
      width: 20vw;

      button {
        width: 100%;
      }
    }

    &__confirm-button {
      @include regular-purple-button;
      width: 20vw;
      height: 10vh;
    }
  }
}

.selected-real {
  @include vote-button;
  background-color: $button-selected-real-color;
  margin-right: 1rem;
}

.deselected-real {
  @include vote-button;
  background-color: $button-deselected-real-color;
  margin-right: 1rem;
}

.selected-fake {
  @include vote-button;
  background-color: $button-selected-fake-color;
}

.deselected-fake {
  @include vote-button;
  background-color: $button-deselected-fake-color;
}
