@import '../../Util/Styles/Color.scss';
@import '../../Util/Styles/Button.scss';
@import '../../Util/Styles/BodyText.scss';

.step-five {
  display: flex;

  &__left {
    max-width: 20vw;
    max-height: 70vh;
    margin-right: 10vh;

    &__description {
      margin-bottom: 20vh;
      &__p1 {
        @include bold-body-text;
      }

      &__p2 {
        @include body-text;
        strong {
          color: $impact-text-color;
        }
      }
    }

    &__button {
      margin-top: 20vh;
      @include regular-purple-button;
      width: 18vw;
      height: 7vh;

      img {
        max-width: 1.5rem;
        margin-left: 2vw;
      }
    }
  }

  &__image {
    max-width: 50%;

    img {
      max-width: 100%;
      max-height: auto;
    }
  }
}
