@import '../../Util/Styles/Color.scss';
@import '../../Util/Styles/Button.scss';
@import '../../Util/Styles/BodyText.scss';

.step-three {
  display: grid;
  grid-template-areas: 'left-side right-side';

  &__left {
    max-width: 20vw;
    max-height: 70vh;
    margin-right: 10vh;
    grid-area: left-side;

    &__description {
      p {
        @include bold-body-text;
      }
    }

    &__timer {
      font-size: 4rem;
      margin-top: 5vh;
      margin-bottom: 5vh;
      img {
        margin-right: 1rem;
      }
    }

    &__small-description {
      p {
        @include body-text;
      }
    }

    &__yes-button {
      @include regular-purple-button;
      width: 18vw;
      height: 7vh;
      margin-top: 5vh;
    }

    &__no-button {
      @include decline-button;
      width: 18vw;
      height: 3.5vh;
      font-size: 1rem;
    }
  }

  &__image {
    grid-area: right-side;
    width: 70%;

    img {
      width: 100%;
      max-height: auto;
    }
  }
}
