@import '../Util/Styles/Color.scss';
@import '../Util/Styles/Button.scss';
@import '../Util/Styles/BodyText.scss';
@import '../Util/Styles/FormLabel.scss';

.home {
  width: 70%;
  &__header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;

    button {
      @include subtitle;
      padding: 0;
      border-width: 0;
      background-color: transparent;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: lightsteelblue;
    border-radius: 3px;
  }

  &__view-area {
    height: 68vh;
    overflow: auto;
    &__tweet {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-right: 10%;
    }
  }
}

.selected-verified {
  color: $button-primary-color;
}
.selected-unverified {
  color: $button-primary-color;
  margin-left: 2em;
}
.deselected-verified {
  color: $light-text-color;
}
.deselected-unverified {
  color: $light-text-color;
  margin-left: 2em;
}
