@import '../Util/Styles/Color.scss';
@import '../Util/Styles/ErrorMessage.scss';
@import '../Util/Styles/Button.scss';
@import '../Util/Styles/FormInput.scss';
@import '../Util/Styles/FormLabel.scss';

.background {
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -10;
  }
}

.masscheck-glow {
  img {
    position: fixed;
    top: 0;
    left: 40%;
    height: 100vh;
    z-index: -10;
  }
}

.sign-in {
  // img {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   z-index: -10;
  // }

  &__form {
    margin-top: 3rem;

    &--error {
      @include error-message;
    }

    &__submit-btn {
      @include sign-in-and-sign-up-button;
    }

    label,
    input {
      display: block;
    }

    label {
      @include form-label;
    }

    input {
      @include form-input;
    }

    ::placeholder {
      color: $input-placeholder-text-color;
    }

    &__forget-password {
      margin-left: 14rem;
      color: $nav-primary-color-public;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.8rem;

      &:visited {
        color: $nav-primary-color-public;
      }
    }
  }

  &__twitter-button {
    @include sign-in-external-button;
    background-color: #1877f2;
    background-image: url('../Asset/twitter-32.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.3rem;
    margin-left: 0.8rem;
  }

  &__google-button {
    @include sign-in-external-button;
    background-color: #ff2e1c;
    background-image: url('../Asset/google.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.3rem;
  }

  &__powered-by {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
  }
}
