@import '../Util/Styles/Color.scss';
@import '../Util/Styles/ErrorMessage.scss';
@import '../Util/Styles/Button.scss';
@import '../Util/Styles/FormInput.scss';
@import '../Util/Styles/FormLabel.scss';

.background {
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -10;
  }
}

.masscheck-glow {
  img {
    position: fixed;
    top: 0;
    left: 40%;
    height: 100vh;
    z-index: -10;
  }
}

.sign-up {
  &__form {
    margin-top: 3rem;

    &--error {
      @include error-message;
    }

    &__submit-btn {
      @include sign-in-and-sign-up-button;
    }

    &__password-group {
      margin-top: 3rem;
    }

    label,
    input {
      display: block;
    }

    label {
      @include form-label;
    }

    input {
      @include form-input;
    }

    ::placeholder {
      color: $input-placeholder-text-color;
    }

    div {
      margin-bottom: 1rem;
    }
  }
}
