@import '../../Util/Styles/Color.scss';
@import '../../Util/Styles/Button.scss';
@import '../../Util/Styles/BodyText.scss';

.investigate-step-four {
  display: grid;
  grid-template-areas: 'left-side right-side';

  &__left {
    grid-template-areas: left-side;
    width: 50vw;

    &__step-1 {
      display: flex;
      border-color: $section-border-color;
      border-style: solid;
      border-radius: 1rem;
      padding: 1.5rem;

      &__number {
        @include bold-body-text;
        font-size: 1.5rem;
        margin-right: 2vw;
        margin-top: auto;
        margin-bottom: auto;
      }
      &__button {
        @include regular-purple-button;
        width: 20vw;
        height: 4vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: none;
        font-size: 1rem;
        font-weight: normal;
        text-align: center;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &__step-2 {
      border-color: $section-border-color;
      border-style: solid;
      border-radius: 1rem;
      padding: 1.5rem;

      &__headline {
        display: flex;
        margin-bottom: 1vh;

        &__number {
          @include bold-body-text;
          font-size: 1.5rem;
          margin-right: 2vw;
          margin-top: auto;
          margin-bottom: auto;
        }

        &__description {
          @include smaller-body-text;
          font-style: italic;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }

    &__step-3 {
      border-color: $section-border-color;
      border-style: solid;
      border-radius: 1rem;
      padding: 1.5rem;

      &__headline {
        display: flex;
        margin-bottom: 1vh;

        &__number {
          @include bold-body-text;
          font-size: 1.5rem;
          margin-right: 2vw;
          margin-top: auto;
          margin-bottom: auto;
        }

        &__description {
          @include smaller-body-text;
          font-style: italic;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }

  &__right {
    grid-template-areas: right-side;
    width: 20vw;
    text-align: center;

    &__timer {
      font-size: 4rem;
      font-weight: bold;
      margin-top: 5vh;
      margin-bottom: 25vh;
      img {
        margin-right: 2rem;
      }
      p {
        font-size: 1rem;
        font-weight: normal;
        font-style: italic;
        color: $red-text-color;
      }
    }

    &__button {
      @include regular-purple-button;
      width: 20vw;
      height: 7vh;
      margin-top: 25vh;
    }
  }
}
